:root {
  --ofwhaite-color: #f3f3f1;
  --white-color: #ffffff;
  --navy-color: #111e27;
  --deepNavy-color: #08121b;
  --gold-color: #e1b45d;
  --lightGold-color: #d9aa5a;
  --dark-color: #17232d;
  --gray-color: #6f7345;
  --beigeGold-color: #d8c38e;
}
.OurSolutions {
  margin-top: 50px;
  background: #f3f5f7;
  padding: 30px 0;
}
.container {
  width: 93%;
  margin: auto;
}

/* Container */

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.container .swipperImages {
  width: 41%;
  border-radius: 25px;
  overflow: hidden;
}
.container .content {
  width: 50%;
}
.content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.D_Flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_icon {
  display: flex;
  align-items: center;
  gap: 15px;
}

.text_icon svg {
  font-size: 30px;
  color: var(--gold-color);
}

.text_icon h2 {
  font-size: 22px;
  font-weight: 500;
}

.number {
  font-size: 20px;
  color: var(--gold-color);
}
.card {
  position: relative;
}
.card::before {
  position: absolute;
  content: "";
  bottom: -15px;
  width: 100%;
  height: 1px;
  /* background-color: #797a7b; */
  background-color: var(--gold-color);
}
.card h3 {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 400;
}

.card p {
  margin-top: 5px;
  font-size: 15px;
  color: #797a7b;
}

/* swipperImages */
.swipperImages {
  overflow: hidden;
  border-radius: 25px;
}

.swipperImages .swiperSlide {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 25px;
  margin: auto;
}

.swiperSlide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  margin: auto;
}

/* Responsive */

@media (max-width: 950px) {
  .container .swipperImages {
    width: 45%;
  }
  .card::before {
    bottom: -35px;
  }
  .text_icon h2 {
    font-size: 17px;
    font-weight: 500;
  }
  .card h3 {
    font-size: 15px;
  }
}
@media (max-width: 950px) {
  .container {
    flex-direction: column;
    margin-top: 50px;
    gap: 40px;
  }
  .container .swipperImages,
  .container .content {
    width: 100%;
  }
  .container .content {
    gap: 30px;
    margin-bottom: 20px;
  }
  .card::before {
    bottom: -15px;
  }
  .text_icon h2 {
    font-size: 20px;
    font-weight: 500;
  }
  .card h3 {
    font-size: 17px;
  }
  .subTitle p {
    font-size: 18px;
  }
  .subTitle p::after {
    left: 30%;
  }
  .subTitle p::before {
    right: 30%;
  }
  .title h2 {
    font-size: 25px;
  }
  .desc p {
    font-size: 15px;
  }
}
