:root {
  --ofwhaite-color: #f3f3f1;
  --white-color: #ffffff;
  --navy-color: #111e27;
  --deepNavy-color: #08121b;
  --gold-color: #e1b45d;
  --lightGold-color: #d9aa5a;
  --dark-color: #17232d;
  --gray-color: #6f7345;
  --beigeGold-color: #d8c38e;
  --gray-color: #e2e7ed;
  --ofGray-color: #59616a;
}

.LocationContactUs {
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  margin: auto;
  height: 200px;
}

/* ------Content------- */

.content {
  width: 35%;
  height: 100%;
  background-color: #ecf3fd;
  padding: 20px 20px;
  border-radius: 25px;
}

.content .subTitle {
  display: flex;
  gap: 10px;
}

.content .subTitle svg {
  font-size: 30px;
  color: #023666;
}

.content .subTitle h2 {
  font-size: 21px;
  font-weight: 600;
  color: #023666;
}

.desc {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--ofGray-color);
  margin-bottom: 10px;
}

.link {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  width: max-content;
  gap: 10px;
  background-color: #023666;
  color: var(--white-color);
  font-size: 15px;
  padding: 9px 20px;
  border-radius: 25px;
}

/* ------location------- */

.location {
  width: 63%;
  height: 100%;
}

.location iframe {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
    gap: 20px;
    height: auto;
  }
  .location,
  .content {
    width: 100%;
  }
}
