@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  --background: #ffffff;
  overflow-x: hidden;
}

.container {
  width: 93%;
  margin: auto;
}

@media (max-width: 750px) {
  .container {
    width: 96%;
  }
}
